@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  transition: all .5s linear;
}

.btn {
  cursor: pointer;
}

.is-clicked {
  background-color: orange;
}



.lines path {
  stroke-dasharray: 0, 480;
  animation: line 2s linear;
}


@keyframe draw{

  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(90deg, 20px, 20px);
  }
}
